<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.gess.example">

    <uses-feature android:name="android.hardware.Camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <dist:module dist:instant="true" />

    <application
        android:name=".MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".material.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation"></activity>
        <activity android:name=".property.PropertyActivity" />
        <activity
            android:name=".material.DrawerActivity"
            android:label="@string/title_activity_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".material.MaterialDesignActivity" />
        <activity android:name=".material.TabTestActivity" />
        <activity android:name=".diyview.SimpleScaleViewActivity" />
        <activity android:name=".opengl.gl5.GlfiveActivity" />
        <activity android:name=".opengl.gl4.GlfourActivity" />
        <activity android:name=".diyview.ScaleViewActivity" />
        <activity android:name=".opengl.gl3.GlthreeActivity" />
        <activity android:name=".opengl.GlActivity" />
        <activity android:name=".opengl.gl2.GltwoActivity" />
        <activity android:name=".opengl.gl1.GlOneActivity" />
        <activity android:name=".gesture.GestureActivity" />
        <activity android:name=".file.FileActivity" />
        <activity android:name=".net.NetActivity" />
        <activity android:name=".pic.ImageViewActivity" />
        <activity android:name=".pic.PictureActivity" />
        <activity android:name=".video.GPUImageActivity" />
        <activity android:name=".animator.AnimatorActivity" />
        <activity android:name=".fragment.FragmentContainerActivity" />
        <activity android:name=".video.FrameActivity" />
        <activity android:name=".douyin.DouyinActivity" />
        <activity android:name=".diyview.DiyViewTestActivitty" />
        <activity android:name=".video.DiyTextureActivity" />
        <activity android:name=".regular.RegularActivity" />
        <activity android:name=".video.MainVideoActivity" />
        <activity android:name=".eventdispatch.EventDispatchActivity" />
        <activity android:name=".statusBar.StatusActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".statusBar.ColorActivity" />
        <activity android:name=".statusBar.SamplesListActivity" />
        <activity android:name=".statusBar.MatchActionBarActivity" />
    </application>

</manifest>